/* General Page Style */
section {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.programs {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.programs .container {
    max-width: 1200px;
    margin: 0 auto;
}

.programs h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.programs p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.program {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.program img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.program .program-content {
    padding: 20px;
    width: 100%;
}

.program .program-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.program .program-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.program .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.program .btn:hover {
    background-color: #005bb5;
}

.program::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.program:hover::before {
    opacity: 1;
}

.program:hover {
    transform: translateY(-10px);
}

/* Desktop specific styles */
@media (min-width: 1024px) {
    .programs .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .program {
        flex-direction: column;
        height: 100%;
    }

    .program img {
        width: 100%;
        height: auto;
        border-bottom: 2px solid #ddd;
        border-right: none;
    }

    .program .program-content {
        width: 100%;
    }
}
